html{background-color: whitesmoke;}
h2{
    color: black;
    font-size: medium;
    background-color: rgb(236, 220, 250);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: larger;
}

header{
     color: blueviolet;
    text-align: center; 
    font-size: xx-large;
    font-weight: 100;
    font-style: normal;
        
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{color: rgb(69, 19, 19);background-color: rgb(236, 220, 250);}
img{position: relative; } 

div{
    display: inline-flex;
    flex-flow: nowrap;
    margin-top: 50px;
    flex-direction: row;
    margin-left: 1%;
    margin-top: 1%;

}
#box1{
    margin-right: 0%;
   
    padding: 1%;
    height: 50%;
    flex: 1;
}
#box2{
    background-color:rgb(236, 236, 236);
    color: brown;
}

.box{
    display: flex;
    flex-flow: column nowrap;
    
}
article{
    margin-left: 15px;
}


img{
    width: 12em;
    height: 15em;

}

a{
    color: brown;
}

main{
    color: black;
    font-size: medium;
    font-weight: 100;
    line-height: 1.3;
}